
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,300&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Poppins';
  font-weight: 800;
}
